html,body{
  margin: 0;
  padding: 0;
}
#login{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
  background: #f0f2f5;
}
.content_login{
  padding: 32px 0;
  -ms-flex: 1 1 0;
  flex: 1 1 0;
}
.login_top{
  text-align: center;
  margin-bottom: 50px;
}
.head_login{
  height: 44px;
  line-height: 44px;
}
.head_login a{
  text-decoration: none;
}
.head_login a span{
  font-size: 33px;
  color: rgba(0,0,0,.85);
  font-family: "Myriad Pro","Helvetica Neue",Arial,Helvetica,sans-serif;
  font-weight: 600;
  position: relative;
  top: 2px;
}
.login_main{
  width: 368px;
  margin: 0 auto;
}

.ant-btn-lg{
  width: 100%;
  margin-top: 24px;
  padding: 0 15px;
  font-size: 16px;
  border-radius: 4px;
  height: 40px;
}

@media (min-width: 768px){
  #login{
    background-image: url("../../assets/img/login_bg.svg");
    background-repeat: no-repeat;
    background-position: center 110px;
    background-size: 100%;
  }
  .content_login{
    padding: 112px 0 24px;
  }
}
