.logo {
    height: 32px;
    margin: 16px;
    line-height: 32px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    background-color: #e8e8e8;
}
.ant-menu-item-group-title{
    color: #fff;
    background-color: #000;
}